body {
    background-color: maroon;
}
header{
    background-color: cornsilk;
}
footer{
    background-color: burlywood;
}
img{
    width: 200px;
    height: 200px;
    margin-right: 1cm;
    margin-left: 1cm;
}
div{
    background-color: mistyrose;
    text-align: center;
}
#container1{
    background-color: mistyrose;
    text-align: center;
    
}
#container2{
    background-color: peachpuff;
    text-align: right;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}